rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Фото профиля пользователей
    match /profile_photos/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Фото профиля тренеров
    match /trainer_photos/{trainerId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    // Вложения в чатах
    match /chat_images/{chatId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    // Аватарки пользователей, созданных через AdminScreen
    match /admin_uploads/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
